IMPORTAR LIBRERIAS

In [2]:
import numpy as np
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt

import plotly.graph_objects as go
from sklearn.metrics import silhouette_score
from yellowbrick.cluster import KElbowVisualizer

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

# Descripción de las Columnas del Archivo de Datos Transaccionales

El archivo contiene datos transaccionales con las siguientes columnas:

- **ID de la orden (`order_id`)**: Identificador único para cada transacción.
- **ID del usuario (`user_id`)**: Identifica al cliente que realizó la compra.
- **Número de orden (`order_number`)**: Indica el número de la orden en el historial del cliente.
- **Día de la semana (`order_dow`)**: Día de la semana en que se realizó la orden.
- **Hora del día (`order_hour_of_day`)**: Hora exacta de la transacción.
- **Días desde la última orden (`days_since_prior_order`)**: Tiempo desde la última compra realizada por el cliente.
- **ID y Nombre del producto (`product_id` y `product_name`)**: Identificadores y nombres de los productos comprados.
- **Orden en el carrito (`add_to_cart_order`)**: Secuencia en la que los productos fueron añadidos al carrito.
- **Producto reordenado (`reordered`)**: Indica si el producto fue comprado anteriormente (1) o no (0).
- **ID y Nombre del Departamento (`department_id` y `department`)**: Identificador y categoría general a la que pertenece cada producto.

### Carga de Datos

In [4]:
df = pd.read_csv('media/Comercio Electrónico Evaluación.csv')
df.head(10)

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,department_id,department,product_name
0,2425083,49125,1,2,18,NaN,17,1,0,13,pantry,baking ingredients
1,2425083,49125,1,2,18,NaN,91,2,0,16,dairy eggs,soy lactosefree
2,2425083,49125,1,2,18,NaN,36,3,0,16,dairy eggs,butter
3,2425083,49125,1,2,18,NaN,83,4,0,4,produce,fresh vegetables
4,2425083,49125,1,2,18,NaN,83,5,0,4,produce,fresh vegetables
5,2425083,49125,1,2,18,NaN,91,6,0,16,dairy eggs,soy lactosefree
6,2425083,49125,1,2,18,NaN,120,7,0,16,dairy eggs,yogurt
7,2425083,49125,1,2,18,NaN,59,8,0,15,canned goods,canned meals beans
8,2425083,49125,1,2,18,NaN,35,9,0,12,meat seafood,poultry counter
9,1944304,162867,1,3,17,NaN,37,1,0,1,frozen,ice cream ice